.reveal section img {
    border: 0;
    background: none;
    box-shadow: none;
}

.reveal section img[alt=SecurityIcon],
.reveal section img[alt=RobustIcon],
.reveal section img[alt=RobustIcon2],
.reveal section img[alt=AuditIcon],
.reveal section img[alt=AuditIcon3] {
    width: 40px;
}

.reveal section#whatwillwecover img[alt=SecurityIcon],
.reveal section#whatwillwecover img[alt=RobustIcon],
.reveal section#whatwillwecover img[alt=AuditIcon] {
    width: 200px;
}

.catosplace-logo {
    background: url('../images/logos/catosplace.png');
	position: absolute; 
	top: 20px; left: 20px; 
    width: 206px; height: 100px;
    z-index: 100;
}

.hypr-logo {
    background: url('../images/logos/hypr.png');
    position: absolute;
    float: right;
	bottom: 20px; left: 20px; 
    width: 144px; height: 100px;
    z-index: 100;
}

.reveal pre code {
    background-color: grey;
    opacity: 0.75;
}

.reveal section section p.para {
    font-size: 20px;
}

.reveal section#developmentpractices img[alt=RobustIcon] {
    position: absolute;
    top: 0; left: 20px;
}

.reveal section#developmentpractices img[alt=SecurityIcon],
.reveal section#policies img[alt=SecurityIcon] {
    position: absolute;
    top: 0; left: 20px;
}

.reveal section#developmentpractices img[alt=RobustIcon2],
.reveal section#policies img[alt=RobustIcon2] {
    position: absolute;
    top: 0; left: 65px;
}

.reveal section#developmentpractices img[alt=AuditIcon3],
.reveal section#policies img[alt=AuditIcon3] {
    position: absolute;
    top: 0; left: 110px;
}

.reveal section#introduction section p {
    margin: 0 0;
}

.reveal section#introduction section p img {
    box-shadow: none;
    margin: 0 0;
}

.reveal section#introduction section p img[alt=MaximumSecurity] {
    width: 310px;
    height: 403px;
}

.reveal section#introduction section p img[alt=ContainerFail] {
    width: 375px;
    height: 281px;
}

.reveal section#introduction section p img[alt=ComplianceFail] {
    width: 302px;
    height: 403px;
}

.reveal h5 {
    font-size: 0.8em;
}

.reveal section.references {
    text-align: left;
}

.reveal section.references #references,
.reveal section.references #attributions {
    margin: 0 0;
    line-height: normal;
}

.reveal section.references ul {
    font-size: 0.4em;
}