.reveal section img {
    border: 0;
    background: none;
    box-shadow: none;
}

.reveal section img[alt=SecurityIcon],
.reveal section img[alt=RobustIcon],
.reveal section img[alt=AuditIcon] {
    width: 40px;
}

.reveal section#whatwillwecover img[alt=SecurityIcon],
.reveal section#whatwillwecover img[alt=RobustIcon],
.reveal section#whatwillwecover img[alt=AuditIcon] {
    width: 200px;
}

.catosplace-logo {
    background: url('../images/logos/catosplace.png');
	position: absolute; 
	top: 20px; left: 20px; 
    width: 206px; height: 100px;
    z-index: 100;
}

.hypr-logo {
    background: url('../images/logos/hypr.png');
	position: absolute; 
	bottom: 20px; left: 20px; 
    width: 144px; height: 100px;
    z-index: 100;
}

.reveal section#introduction section p {
    margin: 0 0;
}

.reveal section#introduction section p img {
    box-shadow: none;
    margin: 0 0;
}

.reveal section#introduction section p img[alt=MaximumSecurity] {
    width: 310px;
    height: 403px;
}

.reveal section#introduction section p img[alt=ContainerFail] {
    width: 375px;
    height: 281px;
}

.reveal section#introduction section p img[alt=ComplianceFail] {
    width: 302px;
    height: 403px;
}

.reveal h5 {
    font-size: 0.8em;
}

.reveal section.references {
    text-align: left;
}

.reveal section.references #references,
.reveal section.references #attributions {
    margin: 0 0;
    line-height: normal;
}

.reveal section.references ul {
    font-size: 0.4em;
}